<div>
    <h2 id="page-heading">
        <span jhiTranslate="gestionMobileApp.utilisateur.home.title">Utilisateurs</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-utilisateur" [routerLink]="['/utilisateur/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="gestionMobileApp.utilisateur.home.createLabel">
            Create new Utilisateur
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'gestionMobileApp.utilisateur.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="utilisateurs">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="gestionMobileApp.utilisateur.login">Login</span></th>
            <th><span jhiTranslate="gestionMobileApp.utilisateur.nom">Nom</span></th>
            <th><span jhiTranslate="gestionMobileApp.utilisateur.prenoms">Prenoms</span></th>
            <th><span jhiTranslate="gestionMobileApp.utilisateur.motdepass">Motdepass</span></th>
            <th><span jhiTranslate="gestionMobileApp.utilisateur.telephone">Telephone</span></th>
            <th><span jhiTranslate="gestionMobileApp.utilisateur.adresse">Adresse</span></th>
            <th><span jhiTranslate="gestionMobileApp.utilisateur.operation">Operation</span></th>
            <th><span jhiTranslate="gestionMobileApp.utilisateur.groupeUser">Groupe User</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let utilisateur of utilisateurs ;trackBy: trackId">
                <td><a [routerLink]="['/utilisateur', utilisateur.id, 'view' ]">{{utilisateur.id}}</a></td>
                <td>{{utilisateur.login}}</td>
                <td>{{utilisateur.nom}}</td>
                <td>{{utilisateur.prenoms}}</td>
                <td>{{utilisateur.motdepass}}</td>
                <td>{{utilisateur.telephone}}</td>
                <td>{{utilisateur.adresse}}</td>
                <td>
                    <div *ngIf="utilisateur.operation">
                        <a [routerLink]="['../operation', utilisateur.operation?.id, 'view' ]" >{{utilisateur.operation?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="utilisateur.groupeUser">
                        <a [routerLink]="['../groupe-user', utilisateur.groupeUser?.id, 'view' ]" >{{utilisateur.groupeUser?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/utilisateur', utilisateur.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/utilisateur', utilisateur.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'utilisateur/'+ utilisateur.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
