<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-commission-heading" jhiTranslate="gestionMobileApp.commission.home.createOrEditLabel">Create or edit a Commission</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!commission.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="commission.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gestionMobileApp.commission.montantmin" for="field_montantmin">Montantmin</label>
                    <input type="number" class="form-control" name="montantmin" id="field_montantmin"
                        [(ngModel)]="commission.montantmin" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gestionMobileApp.commission.montantmax" for="field_montantmax">Montantmax</label>
                    <input type="number" class="form-control" name="montantmax" id="field_montantmax"
                        [(ngModel)]="commission.montantmax" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gestionMobileApp.commission.commission" for="field_commission">Commission</label>
                    <input type="number" class="form-control" name="commission" id="field_commission"
                        [(ngModel)]="commission.commission" />
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
