<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="compte">
            <h2><span jhiTranslate="gestionMobileApp.compte.detail.title">Compte</span> {{compte.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="gestionMobileApp.compte.numcompte">Numcompte</span></dt>
                <dd>
                    <span>{{compte.numcompte}}</span>
                </dd>
                <dt><span jhiTranslate="gestionMobileApp.compte.datecreation">Datecreation</span></dt>
                <dd>
                    <span>{{compte.datecreation}}</span>
                </dd>
                <dt><span jhiTranslate="gestionMobileApp.compte.datederniereoperation">Datederniereoperation</span></dt>
                <dd>
                    <span>{{compte.datederniereoperation}}</span>
                </dd>
                <dt><span jhiTranslate="gestionMobileApp.compte.operateur">Operateur</span></dt>
                <dd>
                    <div *ngIf="compte.operateur">
                        <a [routerLink]="['/operateur', compte.operateur?.id, 'view']">{{compte.operateur?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="gestionMobileApp.compte.commission">Commission</span></dt>
                <dd>
                    <div *ngIf="compte.commission">
                        <a [routerLink]="['/commission', compte.commission?.id, 'view']">{{compte.commission?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="gestionMobileApp.compte.mouvement">Mouvement</span></dt>
                <dd>
                    <div *ngIf="compte.mouvement">
                        <a [routerLink]="['/mouvement', compte.mouvement?.id, 'view']">{{compte.mouvement?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/compte', compte.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
