<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="operateur">
            <h2><span jhiTranslate="gestionMobileApp.operateur.detail.title">Operateur</span> {{operateur.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="gestionMobileApp.operateur.nom">Nom</span></dt>
                <dd>
                    <span>{{operateur.nom}}</span>
                </dd>
                <dt><span jhiTranslate="gestionMobileApp.operateur.datecreation">Datecreation</span></dt>
                <dd>
                    <span>{{operateur.datecreation}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/operateur', operateur.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
