<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-operation-heading" jhiTranslate="gestionMobileApp.operation.home.createOrEditLabel">Create or edit a Operation</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!operation.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="operation.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gestionMobileApp.operation.montant" for="field_montant">Montant</label>
                    <input type="number" class="form-control" name="montant" id="field_montant"
                        [(ngModel)]="operation.montant" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gestionMobileApp.operation.fraiscommission" for="field_fraiscommission">Fraiscommission</label>
                    <input type="number" class="form-control" name="fraiscommission" id="field_fraiscommission"
                        [(ngModel)]="operation.fraiscommission" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gestionMobileApp.operation.dateoperations" for="field_dateoperations">Dateoperations</label>
                    <div class="input-group">
                        <input id="field_dateoperations" type="text" class="form-control" name="dateoperations" ngbDatepicker  #dateoperationsDp="ngbDatepicker" [(ngModel)]="operation.dateoperations"
                        />
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dateoperationsDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
